[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-admin = "*"
flask-jwt-extended = "*"
flask-mail = "*"
flask-migrate = "*"
alembic = "*"
flask-bcrypt = "*"
flask-session = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.12"
